.account-nav-links{
    padding: 21px 0 19px;
}

.account-nav-link:not(:last-child)::after{
    content: ">";
    position: relative;
    top: 1px;
    color: #0156FF;
    margin:0 6px;
    font-size: 12px;
}

.account-nav-link:last-child{
    color: #A2A6B0;
}

.dashboard-holder{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3,auto);
    column-gap: 81px;
    margin: 31px 0 47px 0;
}

.aside-links-list{
    width: 326px;
    padding: 20px;
}

.aside-links-holder:not(:last-child){
    border-bottom: 1px solid #CACDD8;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.aside-link:not(:last-child){
    margin-bottom: 15px;
}

.aside-link-anchor::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 30px;
    max-height: 0;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    background-color: #0156FF;
    transition: max-height 0.3s ease-in;
}

.aside-link-anchor:hover::before, .active-aside-link::before{
    max-height: 30px;
    transition: max-height 0.3s ease-out;
}


.active-aside-link, .aside-link-anchor:hover{
    font-weight: 600;
    color: #212121;
    transition: 0.3s ease-out;
}

.compare-products{
    margin: 7px 0;

}

.compare-products, .wish-list{
    width: 327px;
    padding: 13px 0 28px;
}

.aside-h2{
    margin-bottom: 19px;
}

.content{
    grid-area: 1/2/span2/3;
}

.content-heading-holder{
    padding-bottom: 14px;
    border-bottom: 1px solid #CACDD8;
    margin-bottom: 20px;
}

.infos-holder{
    column-gap: 129px;
    margin-bottom: 54px;
  }

.content-h3{
    margin-bottom: 8px;
}

.content-btn{
    background-color: transparent;
    margin: 34px 24px 0 0;
}

.content-p{
    max-width: 294px;
  }

.content-heading-holder .content-btn{
    margin: 0 0 0 18px;
}

.infos-box {
    width: 282px;
}

.features-holder{
    padding: 61px 0 44px;
    background-color: #F5F7FF;
}


@media (max-width:1431px){

    .account-nav-links{
        padding: 21px 0 15px;
    }

    .account-heading{
        font-size: 18px;
    }

    .dashboard-holder {
        column-gap: 38px;
        margin: 13px 0 23px 0;
      }

    .aside-links-list {
        width: 259px;
        padding: 15px 20px;
      }

      .aside-links-holder:not(:last-child) {
        padding-bottom: 10px;
        margin-bottom: 10px;
      }

      .aside-link-anchor{
        font-size: 12px;
      }

      .aside-link:not(:last-child) {
        margin-bottom: 10px;
      }

      .compare-products, .wish-list {
        width: 257px;
        padding: 13px 0 28px;
      }

      .content-heading-holder {
        padding-bottom: 6px;
        border-bottom: 1px solid #CACDD8;
      }

      .content-heading{
        font-size: 14px;
      }

      .content-h3 {
        margin-bottom: 3px;
        font-size: 13px;
      }

      .user-name, .user-email {
        font-size: 14px;
        color: #000000;
      }

      .content-btn {
        margin: 15px 20px 0 0;
      }

      .infos-holder {
        margin-bottom: 22px;
        flex-direction: column;
        row-gap: 22px;
      }

      .content-heading-holder .content-btn {
        margin: 0px 0 0 13px;
      }

      .content-p {
        max-width: 257px;
        font-size: 14px;
        color: #000000;
      }

      .features-holder{
        padding: 39px 0 37px;
    }
}

@media (max-width:715px) {

    .account-nav-links{
        padding: 16px 0 10px;
    }

    .dashboard-holder {
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 22px 0 12px 0;
      }

      .aside-links {
        grid-area: 1/1/2/2;
      }

      .content {
        grid-area: 2/1/3/2;
        margin-top: 14px;
      }

      .mobile-account-heading{
        margin-bottom: 17px;
      }

      .dashboard-mobile-heading{
        display: flex;
        padding: 14px 14px 13px 17px;
        border-bottom: 1px solid #CACDD8;
      }

      .dashboard-mobile-heading::after{
        content: ">";
        transform: rotate(90deg);
        transition: 0.3s;
      }

      .dashboard-mobile-heading:hover::after {
        transform: rotate(-90deg);
        transition: 0.3s;
      }

      .aside-links-wrapper{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in;
      }

      .dashboard-mobile-heading:hover + .aside-links-wrapper, .aside-links-wrapper:hover{
        max-height: 332px;
        transition: max-height 0.3s ease-out;
      }

      .aside-links-list, .compare-products, .wish-list{
        width: 100%;
      }

      .features-holder{
        padding: 26px 0 25px;
    }
}    