.login-nav-links{
    padding: 21px 0 19px;
}

.login-nav-link:not(:last-child)::after{
    content: ">";
    position: relative;
    top: 1px;
    color: #0156FF;
    margin:0 6px;
    font-size: 12px;
}

.login-nav-link:last-child{
    color: #A2A6B0;
}

.login-holder{
    margin: 21px 0 58px;
    gap: 34px;
}

.registered-customers, .new-customers{
    width: 564px;
    height: 415px;
    padding: 37px 57px 40px 57px;
}

.login-heading{
    font-size: 32px;
}

.login-p{
    margin: 16px 0;
}

.login-input{
    width: 100%;
    height: 50px;
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    padding-left: 17px;
    margin: 7px 0 12px;
}

.login-input::placeholder{
    color: #A2A6B0;
}

.required{
    color: #C94D3F;
}

.login-form-submit{
    padding: 14px 50px;
    margin: 19px 23px 0 0;
}

.new-customers-p{
    margin-top: 16px;
}

.benifits-list{
    list-style: disc;
    list-style-position: inside;
    margin: 20px 0 43px;
}

.create-account-btn{
    padding: 15px 37px;
}

.features-holder{
    padding: 61px 0 44px;
    background-color: #F5F7FF;
}

.features{
    padding-bottom: 0;
}

@media (max-width:1431px){

    .login-nav-links{
        padding: 21px 0 15px;
    }

    .login-heading{
        font-size: 18px;
    }

    .login-holder{
        margin: 13px 0 27px;
        gap: 21px;
    }

    .registered-customers, .new-customers{
        height: 344px;
        width: 345px;
        padding: 32px 20px 32px 18px;
    }

    .login-h2{
        font-size: 14px;
    }


    .login-p, .new-customers-p, .benifit{
        font-size: 12px;
    }

    .login-p{
        margin: 10px 0 7px;
        line-height: 22px;
    }

    .login-label{
        font-size: 11px;
    }

    .login-input{
        font-size: 12px;
        padding-left: 14px;
        height: 38px;
        margin: 5px 0 7px;
    }

    .login-form-submit, .create-account-btn{
        font-size: 13px;
    }

    .login-form-submit {
        padding: 8px 41px;
        margin: 10px 16px 0 0;
      }

      .forgot-password{
        font-size: 11px;
      }

      .new-customers{
        height: 263px;
        width: 345px;

      }

      .new-customers-p {
        margin-top: 11px;
        margin-top: 10px;
      }

      .benifits-list {
        margin: 22px 0 19px;
      }

      .benifit{
        line-height: 22px;
      }

      .create-account-btn {
        padding: 9px 29px;
      }

      .features-holder{
        padding: 39px 0 37px;
    }
}

@media (max-width:715px) {

    .login-nav-links{
        padding: 16px 0 10px;
    }

    .login-holder {
        margin: 16px 0 16px;
        gap: 16px;
        flex-direction: column;
        align-items: center;
      }

    .features-holder{
        padding: 26px 0 25px;
    }
}

@media (max-width:360px){
    .registered-customers, .new-customers{
        width: 100%;
    }

    .login-form-submit {
        padding: 8px 35px;
        margin: 10px 6px 0 0;
      }
}